venv/
*.tar.gz
#LLaVA/
#whatsup_vlms/
tmp/
scripts/controlled_probing/ckpts/
scripts/probing/ckpts/

scripts/diffuser_icons/output/*/infr/
scripts/diffuser_real/output/*/infr/
scripts/diffuser_icons/output_withvae/*/infr/
scripts/diffuser_real/output_withvae/*/infr/

events.out*
.nfs*

# ------------- Auto discovered large files -------------

scripts/probing/ckpts/0313_000931/model.pt
scripts/probing/ckpts/0313_001534/model.pt
scripts/probing/ckpts/0312_130434/model.pt
scripts/probing/ckpts/0313_005556/model.pt
scripts/probing/ckpts/0313_014413/model.pt
scripts/probing/ckpts/0313_020607/model.pt
scripts/probing/ckpts/0313_021102/model.pt
scripts/probing/ckpts/0313_022223/model.pt
scripts/probing/ckpts/0313_015551/model.pt
scripts/probing/ckpts/0313_022005/model.pt
scripts/probing/ckpts/0313_013647/model.pt
data/flickr30k/karpathy/dataset_flickr30k.json.zip
data/vl_models_are_bows/visual_genome_relation.json
data/flickr30k/karpathy/tmp.json
data/flickr30k/annotations.zip
data/flickr30k/karpathy/dataset_flickr30k.json
