venv/
*.tar.gz
LLaVA/
whatsup_vlms/
tmp/
scripts/controlled_probing/ckpts/
scripts/probing/ckpts/
scripts/diffuser_colored_sq/output/
scripts/diffuser_icons/output/
scripts/diffuser_real/output/
scripts/diffuser_icons/output_rbt/
scripts/diffuser_real/output_rbt/

events.out*
.nfs*

# ------------- Auto discovered large files -------------
scripts/diffuser_icons/output/0220_153332/tensorboard/events.out.tfevents.1708461220.sphynx.lti.cs.cmu.edu.1737992.0
scripts/diffuser_icons/output/1214_230146/tensorboard/events.out.tfevents.1702612914.himalayan.lti.cs.cmu.edu.1558654.0
scripts/probing/ckpts/0313_000931/model.pt
scripts/probing/ckpts/0313_001534/model.pt
scripts/diffuser_icons/output/0214_145737/tensorboard/events.out.tfevents.1707940662.panther.lti.cs.cmu.edu.179152.0
scripts/diffuser_icons/output/0219_235752/tensorboard/events.out.tfevents.1708405079.sphynx.lti.cs.cmu.edu.1615303.0
scripts/diffuser_icons/output/1210_204624/tensorboard/events.out.tfevents.1702259190.himalayan.lti.cs.cmu.edu.744254.0
scripts/diffuser_icons/output/1210_205216/tensorboard/events.out.tfevents.1702259539.sphynx.lti.cs.cmu.edu.2111439.0
scripts/diffuser_icons/output/1211_153734/tensorboard/events.out.tfevents.1702327060.himalayan.lti.cs.cmu.edu.906252.0
scripts/diffuser_icons/output/1215_220834/tensorboard/events.out.tfevents.1702696120.panther.lti.cs.cmu.edu.1334299.0
scripts/diffuser_icons/output/0130_223508/tensorboard/events.out.tfevents.1706672115.panther.lti.cs.cmu.edu.3795451.0
scripts/diffuser_icons/output/0222_200003/tensorboard/events.out.tfevents.1708650010.sphynx.lti.cs.cmu.edu.2160279.0
scripts/diffuser_icons/output/0223_141954/tensorboard/events.out.tfevents.1708715999.panther.lti.cs.cmu.edu.2459421.0
scripts/diffuser_icons/output/1215_220213/tensorboard/events.out.tfevents.1702695741.himalayan.lti.cs.cmu.edu.1781197.0
scripts/diffuser_icons/output/0220_001206/tensorboard/events.out.tfevents.1708405935.himalayan.lti.cs.cmu.edu.1012933.0
scripts/diffuser_icons/output/0223_144103/tensorboard/events.out.tfevents.1708717273.himalayan.lti.cs.cmu.edu.1897069.0
scripts/diffuser_icons/output/0220_001333/tensorboard/events.out.tfevents.1708406023.himalayan.lti.cs.cmu.edu.1013267.0
scripts/diffuser_real/output/0306_025534/tensorboard/events.out.tfevents.1709711744.himalayan.lti.cs.cmu.edu.73661.0
scripts/diffuser_icons/output/0218_181327/tensorboard/events.out.tfevents.1708298014.sphynx.lti.cs.cmu.edu.1373593.0
scripts/diffuser_icons/output/1204_130558/tensorboard/events.out.tfevents.1701713162.sphynx.lti.cs.cmu.edu.309433.0
scripts/diffuser_icons/output/1213_173443/tensorboard/events.out.tfevents.1702506889.sphynx.lti.cs.cmu.edu.2816956.0
scripts/diffuser_icons/output/1217_211316/tensorboard/events.out.tfevents.1702865603.sphynx.lti.cs.cmu.edu.3848316.0
scripts/diffuser_icons/output/1218_231817/tensorboard/events.out.tfevents.1702959504.sphynx.lti.cs.cmu.edu.4068477.0
scripts/diffuser_real/output/0304_214209/tensorboard/events.out.tfevents.1709606536.panther.lti.cs.cmu.edu.769065.0
scripts/diffuser_icons/output/0222_150824/tensorboard/events.out.tfevents.1708632510.panther.lti.cs.cmu.edu.2220028.0
scripts/diffuser_real/output/0227_003340/tensorboard/events.out.tfevents.1709012027.sphynx.lti.cs.cmu.edu.2984202.0
scripts/diffuser_icons/output/1208_122337/tensorboard/events.out.tfevents.1702056221.panther.lti.cs.cmu.edu.3819187.0
scripts/diffuser_icons/output/1209_141853/tensorboard/events.out.tfevents.1702149537.sphynx.lti.cs.cmu.edu.1760976.0
scripts/diffuser_icons/output/1213_173235/tensorboard/events.out.tfevents.1702506763.himalayan.lti.cs.cmu.edu.1298630.0
scripts/diffuser_icons/output/1217_211128/tensorboard/events.out.tfevents.1702865495.himalayan.lti.cs.cmu.edu.2158750.0
scripts/diffuser_icons/output/1218_133226/tensorboard/events.out.tfevents.1702924355.himalayan.lti.cs.cmu.edu.2283603.0
scripts/diffuser_icons/output/1219_131700/tensorboard/events.out.tfevents.1703009829.himalayan.lti.cs.cmu.edu.2474882.0
scripts/diffuser_real/output/0305_015747/tensorboard/events.out.tfevents.1709621874.sphynx.lti.cs.cmu.edu.917037.0
scripts/diffuser_real/output/0305_020005/tensorboard/events.out.tfevents.1709622016.himalayan.lti.cs.cmu.edu.4066300.0
scripts/diffuser_icons/output/0203_220223/tensorboard/events.out.tfevents.1707015749.sphynx.lti.cs.cmu.edu.2727818.0
scripts/diffuser_icons/output/0205_180720/tensorboard/events.out.tfevents.1707174449.himalayan.lti.cs.cmu.edu.427583.0
scripts/diffuser_icons/output/0224_081546/tensorboard/events.out.tfevents.1708780552.sphynx.lti.cs.cmu.edu.2446504.0
scripts/diffuser_icons/output/0206_205651/tensorboard/events.out.tfevents.1707271021.himalayan.lti.cs.cmu.edu.672231.0
scripts/diffuser_icons/output/0216_092209/tensorboard/events.out.tfevents.1708093339.himalayan.lti.cs.cmu.edu.232525.0
scripts/diffuser_icons/output/0218_181153/tensorboard/events.out.tfevents.1708297920.sphynx.lti.cs.cmu.edu.1373293.0
scripts/diffuser_icons/output/0220_203955/tensorboard/events.out.tfevents.1708479603.sphynx.lti.cs.cmu.edu.1773551.0
scripts/probing/ckpts/0312_130434/model.pt
scripts/probing/ckpts/0313_005556/model.pt
scripts/probing/ckpts/0313_014413/model.pt
scripts/probing/ckpts/0313_020607/model.pt
scripts/probing/ckpts/0313_021102/model.pt
scripts/probing/ckpts/0313_022223/model.pt
scripts/diffuser_icons/output/0204_223204/tensorboard/events.out.tfevents.1707103933.himalayan.lti.cs.cmu.edu.280571.0
scripts/diffuser_icons/output/0206_135919/tensorboard/events.out.tfevents.1707245966.sphynx.lti.cs.cmu.edu.3191797.0
scripts/diffuser_icons/output/0206_212245/tensorboard/events.out.tfevents.1707272571.panther.lti.cs.cmu.edu.2473772.0
scripts/diffuser_icons/output/0216_224027/tensorboard/events.out.tfevents.1708141236.himalayan.lti.cs.cmu.edu.355897.0
scripts/diffuser_icons/output/0217_214859/tensorboard/events.out.tfevents.1708224549.himalayan.lti.cs.cmu.edu.546925.0
scripts/diffuser_icons/output/0224_145323/tensorboard/events.out.tfevents.1708804412.himalayan.lti.cs.cmu.edu.2085743.0
scripts/diffuser_icons/output/0312_194052/tensorboard/events.out.tfevents.1710286859.himalayan.lti.cs.cmu.edu.1657589.0
scripts/diffuser_icons/output/1214_165951/tensorboard/events.out.tfevents.1702591199.himalayan.lti.cs.cmu.edu.1499450.0
scripts/diffuser_icons/output/0207_214738/tensorboard/events.out.tfevents.1707360467.himalayan.lti.cs.cmu.edu.1097738.0
scripts/diffuser_icons/output/0215_224805/tensorboard/events.out.tfevents.1708055292.sphynx.lti.cs.cmu.edu.848126.0
scripts/diffuser_icons/output/0221_224609/tensorboard/events.out.tfevents.1708573575.sphynx.lti.cs.cmu.edu.1985118.0
scripts/diffuser_icons/output/1203_123100/tensorboard/events.out.tfevents.1701624664.sphynx.lti.cs.cmu.edu.106182.0
scripts/diffuser_real/output/0304_002415/tensorboard/events.out.tfevents.1709529865.himalayan.lti.cs.cmu.edu.3863165.0
scripts/diffuser_icons/output/0218_162728/tensorboard/events.out.tfevents.1708291654.panther.lti.cs.cmu.edu.1177082.0
scripts/diffuser_icons/output/0219_230713/tensorboard/events.out.tfevents.1708402039.panther.lti.cs.cmu.edu.1501196.0
scripts/diffuser_icons/output/0204_223140/tensorboard/events.out.tfevents.1707103906.panther.lti.cs.cmu.edu.1996746.0
scripts/diffuser_icons/output/0206_135808/tensorboard/events.out.tfevents.1707245898.himalayan.lti.cs.cmu.edu.604194.0
scripts/diffuser_icons/output/0217_110133/tensorboard/events.out.tfevents.1708185699.panther.lti.cs.cmu.edu.877452.0
scripts/diffuser_icons/output/0217_215130/tensorboard/events.out.tfevents.1708224700.himalayan.lti.cs.cmu.edu.547370.0
scripts/diffuser_icons/output/0216_200835/tensorboard/events.out.tfevents.1708132122.sphynx.lti.cs.cmu.edu.1019924.0
scripts/diffuser_icons/output/0130_223059/tensorboard/events.out.tfevents.1706671866.sphynx.lti.cs.cmu.edu.1971775.0
scripts/diffuser_icons/output/1206_233339/tensorboard/events.out.tfevents.1701923622.sphynx.lti.cs.cmu.edu.946398.0
scripts/diffuser_icons/output/1210_111205/tensorboard/events.out.tfevents.1702224729.panther.lti.cs.cmu.edu.4193138.0
scripts/diffuser_icons/output/1213_174529/tensorboard/events.out.tfevents.1702507535.panther.lti.cs.cmu.edu.801591.0
scripts/diffuser_icons/output/1214_230316/tensorboard/events.out.tfevents.1702613005.himalayan.lti.cs.cmu.edu.1559159.0
scripts/diffuser_icons/output/1214_230808/tensorboard/events.out.tfevents.1702613294.panther.lti.cs.cmu.edu.1099588.0
scripts/diffuser_icons/output/1214_230933/tensorboard/events.out.tfevents.1702613379.sphynx.lti.cs.cmu.edu.3128972.0
scripts/diffuser_icons/output/1217_211800/tensorboard/events.out.tfevents.1702865886.panther.lti.cs.cmu.edu.1812024.0
scripts/diffuser_icons/output/1218_155123/tensorboard/events.out.tfevents.1702932688.panther.lti.cs.cmu.edu.2000897.0
scripts/probing/ckpts/0313_015551/model.pt
scripts/probing/ckpts/0313_022005/model.pt
scripts/probing/ckpts/0313_013647/model.pt
data/flickr30k/karpathy/dataset_flickr30k.json.zip
data/vl_models_are_bows/visual_genome_relation.json
data/flickr30k/karpathy/tmp.json
data/flickr30k/annotations.zip
data/flickr30k/karpathy/dataset_flickr30k.json
