numpy
torch
accelerate
ipykernel
sentencepiece
transformers
tqdm
beartype
boto3
protobuf
spacy==3.7.2
joblib
pytz
matplotlib
matplotlib-venn
scikit-learn
torchsummary
git+https://github.com/rwightman/pytorch-image-models.git
pytorch_lightning==1.1.4
datasets
ipywidgets
prettytable
torch-summary
diffusers==0.24.0
nltk
textblob
kaggle
torchmetrics
openai
omegaconf